<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>Contacto</h3>
            <hr>
        </div>
    </div>

    <div fxFlex>
        <h3>Informacion de contacto</h3> 
        <div fxLayout="column" fxLayout.gt-sm="row">
            <div fxFlex="50" fxFlexOffset="20px">
                <h4>Nuestra direccion</h4>
                <address>
                    121, Santa Cruz Lagunilla<br>
                    lTamarindo, Santa Cruz<br>
                    Costa Rica<br>
                    <i class="fa fa-phone"></i>: +852 1234 5678<br>
                    <i class="fa fa-fax"></i>: +852 8765 4321<br>
                    <i class="fa fa-envelope"></i>: 
                    <a href="mailto:confusion@food.net">confusion@food.net</a>
                </address>
                <p></p>
                <div>
                    <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
                    <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
                    <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
            <div fxFlex="40">
                <h4>Mapa con nuestra ubicacion</h4>
            </div>
        </div>
    </div>

    <div fxFlex fxFlexOffset="20px" class="form-size">
        <h3>Envianos tus comentarios</h3>
        <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>

        <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" *ngIf="!showSpinner && !showSubmission"
              [@visibility]="visibility" [@expand]>
              <p>
            <mat-input-container class="half-width"
                                 dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
                <input matInput formControlName="firstname" placeholder="Nombre" type="text" required>
                <mat-hint>
                    <span [hidden]="!(formErrors.firstname)">
                        {{formErrors.firstname}}</span>
                </mat-hint>
            </mat-input-container>
            <mat-input-container class="half-width"
                                 dividerColor="{{(formErrors.lastname) ? 'warn' : 'primary'}}">
                <input matInput formControlName="lastname" placeholder="Apellido" type="text" required>
                <mat-hint>
                    <span [hidden]="!(formErrors.lastname)">
                        {{formErrors.lastname}}</span>
                </mat-hint>
            </mat-input-container>
            </p>
            <p>
            <mat-input-container class="half-width"
                                 dividerColor="{{(formErrors.telnum) ? 'warn' : 'primary'}}">
                <input matInput formControlName="telnum" placeholder="Telefono" type="tel" pattern="[0-9]*" required>
                <mat-hint>
                    <span [hidden]="!(formErrors.telnum)">
                        {{formErrors.telnum}}</span>
                </mat-hint>
            </mat-input-container>
            <mat-input-container class="half-width"
                                 dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}">
                <input matInput formControlName="email" placeholder="Email" type="email" email required>
                <mat-hint>
                    <span [hidden]="!(formErrors.email)">
                        {{formErrors.email}}</span>
                </mat-hint>
            </mat-input-container>
            </p>
            <table class="form-size">
                <td>
                <mat-slide-toggle formControlName="agree">Podemos contactarte?</mat-slide-toggle>
                </td>
                <td>
                <mat-select placeholder="How?" formControlName="contacttype">
                    <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                        {{ ctype }}
                </mat-option>
            </mat-select>
            </td>
        </table>
        <p>
        <mat-input-container class="full-width">
            <textarea matInput formControlName="message" placeholder="Your Feedback" rows=8></textarea>
        </mat-input-container>
        </p>
        <button type="submit" mat-button [disabled]="feedbackForm.invalid">Submit</button>
    </form> 
</div>

<div *ngIf="showSpinner" [@flyInOut] >
    <h2>Submitting Form</h2>
    <mat-spinner></mat-spinner> 
    <h2>Loading . . . Please Wait</h2>
</div>


    <div *ngIf="showSubmission" [@expand]>
         <h2>Sus comentarios</h2>
        <mat-list>
            <p mat-line>Nombre:&nbsp;{{ feedback.firstname }}</p>     
            <p mat-line>Apellido:&nbsp;{{ feedback.lastname }}</p>        
            <p mat-line>Tel.:&nbsp;{{ feedback.telnum }}</p>      
            <p mat-line>Email:&nbsp;{{ feedback.email }}</p>      
            <p mat-line>Tipo de Contacto:&nbsp;{{ feedback.contacttype }}</p>     
            <p mat-line>Comentario&nbsp;{{ feedback.message }}</p>         
        </mat-list>
    </div>


    


</div>


